* { 
  box-sizing: border-box;
}
  

html,body {
  /* Extra Styles */
  background: #fff;
  color: #425363;
  font-family: avenir, 'segoe ui', sans-serif;
}

@keyframes move {
	0% { 
		background-position: 0 60%, 0 50%;
	}
	100% { 
	  background-position: 0 60%, 100% 50%;
	}
}

.container {
  background-color: #263645;
	background-image: url('http://timteeling.com/dev/img/network.svg'), radial-gradient(200px 500px at center, #ff8300 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
	background-size: 125%, 50% 100%;
  background-position: 0 60%, 0 100%;
  animation: move 5s linear infinite;
  
  /* Extra Styles */
  height: 300px;
  /*box-shadow: inset 0 0 25px rgba(0,0,0,.5);*/
  border: 2px solid #263645;
  border-right: 0;
  border-left: 0;
}


/* Extra Styles */
h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1em;
}

p {
  text-align: center;
  font-size: .75em;
}

a {
  color: #ff8300;
}


body {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: 'Nobile', sans-serif;
  color: white;

    background: rgba(0,0,0,.75);
}

#noev{
    width: 50%;
}

#noe_resume {
    float: left;
    width: 12em;
}


.pokemon-team {
    
 display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 3px dotted dodgerblue;
}

#alakazam-stance:hover {
    transform: scale(1.2);
}
#ampharos:hover {
    transform: scale(1.2);
}
#roserade:hover {
    transform: scale(1.2);
}
#sceptile:hover {
    transform: scale(1.2);
}
#trevenant:hover {
    transform: scale(1.2);
}
#avalugg:hover {
    transform: scale(1.2);
}

h1, h2, h3{
    background: dodgerblue;
    
}

ul{
    line-height: 1.5em;
}


a:hover {
  border-bottom: solid white 2px;
    color: dodgerblue;
      
}

a:link,a:visited {
  color: dodgerblue;
  text-decoration: none;
    }
a:focus{
        background: white;
 
    
    /* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. */
	body {
       background: red;
	}
	
    
    

/* Layout with Flexbox */
.gallery {
 display: flex;
 flex-flow: row wrap;
}

figure {
  background: #eee;
  /* Note: Figures have default 1em margin. Optionally override. */
  padding: 1em;
  /* Set `flex-basis` to any value */
  flex: 1 0 300px;
  
  /* Child & Also Parent   */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

/* Specific Gallery Styling. Have Fun! */
figure img {

}

figure p {
  
}

/* Lightbox Overlay */
/* hide  */
.overlay {
  display: none;
  
/* Overlay Styling   */
  background:rgba(0,0,0,.75);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  
}

/* show */
.overlay:target {
  display: block;
 
  /* Flexbox Vertical & Horizontal Centering */
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;  
    
  animation: jello 1s;
}

/* Close Button  */
.overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }   
    
    
    
    


    
    
    
    
    
    
    
/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. */
  body {
       background: green;
  }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. */
  body {
       background: blue;
  }

}
   
