/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
    background: red;
}
color-2{
    background: blue;
}
color-3{
    background: white;
}
/* Textures or Patterns*/
.pattern-1 {
    background: url("../img/flag.png)";
}

/* Imagery */


/* Icons */


/* Navigation */
a:link,
a:visited {
    color: blue;
    text-transform: uppercase;
}

a:hover {
    background: red;
    margin-left: 10px;
}

a:active {
    color: white;
    background: blue;
}
/* Typography */
font-family: 'Lobster', cursive;

