/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
    background: #478ed7;
}
.color-2{
    background: #43eae1;
}
.color-3{
    background: #9e54d0;
}
.color-4{
    background: #e9d056;
}
.color-5{
    background: #6896b9;
}

/* Textures or Patterns*/
.pattern-1{
    background: url(../img/black_shirt.jpg)
}
.pattern-2{
    background: url(../img/white_paper.jpg)
}
.pattern-3{
    background: url(../img/fuzz.jpg)
}
.pattern-4{
    background: url(../img/lemon_bread.jpg)
}
.pattern-5{
    background: url(../img/tile.jpg)
}

/* Imagery */


/* Icons */


/* Navigation */
a:link,
a:visited {
    color: blue;
    text-transform: uppercase;
}

a:hover {
    background: yellow;
    margin-left: 5px;
}

a:active {
    color: white;
    background: blue;
}
/* Typography */
h1{
    font-family: 'Noto Sans', sans-serif;
}
h2{font-family: 'Noto Sans', sans-serif;}

h3{
    font-family: 'Noto Sans', sans-serif;
}

p{
    font-family: 'Mate', serif;
}
